body {
    background-color: #bdbdbd;
    color: white;
}

p{
    font-size: 20px;
}

.navbar {
    float: left;
    
}

a {
    color: white;
}

.navbar a{
    padding: 10px 30px;
    text-decoration: none;
    margin: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.navbar a:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

.name {
    margin-top: 250px;
}

#profilepic {
    height: 350px;
    width: 350px;
    float: right;
    border-radius: 50%;
}

.name .text {
    margin-top: 100px;
    text-align: center;
}

.name .text #name {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.about{
    margin-top: 300px;
    background-color: #9e9e9e;
    height: 900px;
}

h2 {
    text-align: center;
    left: 50%;
    margin-bottom: 150px;
    padding: 40px 30px;
    background-color: #424242;
}

.about h3 {
    position: relative  
}

.about #detail {
    left: 67%;
}

.about #aboutme {
    left: 65%; 
}

.about .details {
    margin-bottom: 100px;
}

.about .aboutme {
    margin-bottom: 200px;
}

.more {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #9e9e9e;
}

.more h3 {
    margin-bottom: 60px
}

.more p {
    line-height: 40px;
}

.more .education {
    text-align: right;
} 

.icon {
    float: right;
    margin: 30px 30px;
}

.icon img{
    height: 50px;
    margin: 0px 20px;
}

.icon img:hover {
    opacity: 0.5;
}

.contact .icons{
    position: absolute;
    left: 31%;
    margin-bottom: 100px;
}

.contact a{
    margin: 0px 30px;
}